/* styles.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif;
    background-color: #fff;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px 20px;
    /* color: #a3246e; */
    /* Border around the header */
    border-bottom: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
   /* header section */
  
   .logo img {
    margin-bottom: -8%;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    background: linear-gradient(90deg, #A3246E, #B34526); -webkit-background-clip: text;
    background-clip: text;  color: transparent;
    text-decoration: none;
   font-weight: bold;
    font-size: 18px;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
  }
  
  /* nav ul li a:hover {
    background-color: #555;
    border-radius: 4px;
  } */

  /* scrolling container */
  h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .part_button {
    display: flex;
    width: 309px;
    height: 70px;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: #a3246e;
    border-radius: 5px;
    border: none;
  }
  .part_button1 {
    margin-left: 82%;
    margin-left: 82%;
    margin-top: -23%;
    width: 92px;
    height: 71px;
    z-index: 1;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    border: none;
    background-color: #b34526;
  }
  .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: white;
  }
  
  .card {
    width: 80px;
    border-radius: 0.75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    /* border-radius: 2rem; */
    display: block;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
  }
  
  .card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .card > .row > .icon {
    background: transparent;
    color: white;
    /* border-radius: 50%; */
    width: 50px;
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }

  input {
    display: none;
  }
  
  input:hover + label {
    width: 600px;
    /* transition-delay: 0.25s; */
    
  }

  

  .card:hover + .more-text  {
   display: block;
    
  }

  #icon1 {
    position: absolute;
  
    transform: translate(100%, -400%) ;
    transform-origin: center;
    transition: transform 0.5s ease; /* Adding transition for smooth effect */
  }
  
  .card:hover #icon1 {
    transform: translate(125%, -400%) rotate(0deg);
    transition-delay: 0.25s;
  }
  #icon2 {
    position: absolute;
  
    transform: translate(-15%, -488%) rotate(-90deg);
    transform-origin: center;
    transition: transform 0.5s ease; /* Adding transition for smooth effect */
  }
  
  .card:hover #icon2 {
    transform: translate(220%, -400%) rotate(0deg);
    transition-delay: 0.25s;
  }
  #icon3 {
    position: absolute;
  
    transform: translate(-15%, -367%) rotate(-90deg);
    transform-origin: center;
    transition: transform 0.5s ease; /* Adding transition for smooth effect */
  }
  
  .card:hover #icon3 {
    transform: translate(110%, -350%) rotate(0deg);
    transition-delay: 0.25s;
  }
  #icon4 {
    position: absolute;
  
    transform: translate(-15%, -398%) rotate(-90deg);
    transform-origin: center;
    transition: transform 0.5s ease; /* Adding transition for smooth effect */
  }
  
  .card:hover #icon4 {
    transform: translate(150%, -400%) rotate(0deg);
    transition-delay: 0.25s;
  }
  
  input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
  .card[for="c1"] {
    background-image: url(./assets/Untitled\ design.jpg);
    /* background-size: auto; */
    }
  
  .card[for="c2"] {
    background-image: url(./assets/Untitled\ design\ \(4\).jpg);
  }
  
  .card[for="c3"] {
    background-image: url(./assets/Untitled\ design\ \(2\).jpg);
  }
  
  .card[for="c4"] {
    background-image: url(./assets/Untitled\ design\ \(1\).jpg);
  }
  

  
.hidden-letter{
  display: none;
}
  
  /* scrolling container */
  .scrolling-container {
    width: 100%;
    overflow: hidden;
background-color: #fff;
         /*  border: 1px solid #ccc; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    /* background-color: #a72c5d;  */
    background-image: linear-gradient(270deg, #A3246E, #B34526);
  }
  
  .scrolling-text {
    display: flex;
    animation: scroll 20s infinite linear;
  }

  .scrolling-text img{
    height: 100%;
    margin: 0; /* Ensure there's no margin that could create gaps */
    padding: 0;
  }
  

  @keyframes scroll {
    from {
      transform: translateX(0%);
  }
  to {
      transform: translateX(-150%);
  }
  }
  
  /* heading tag data after scrolling content */
  .data_heading {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* staic card container*/
  .cards-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
  }
  
  .cards {
    background-color: #fff; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom, #fae2e3, #fff);
  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    padding: 20px;
    box-sizing: border-box;
    
  }
  
  .cards1 {
    background-color: #fff; /* For browsers that do not support gradients */
    background-image: linear-gradient(to top, #fae2e3, #fff);
  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    padding: 20px;
    box-sizing: border-box;

  }

  .cards-logo img {
    max-width: 72px;
    margin-bottom: 10px;
    display: flex;
  }
  
  .cards-content h3 {
    margin-bottom: 10px;
    font-size: 1.25em;
  }
  
  .cards-content p {
    color: #666;
    line-height: 1.5;
  }
  
  /* harness */
  .harness {
    /* background-color: #a72c5d; */
    background-image: linear-gradient(90deg, #A3246E, #B34526);
    display: flex;
    color: white;
    height: 178px;
    align-items: center;
  }
  .partner-button{
    margin-left: 38%; background-color: white; border: none; border-radius: 5px; width: 200px;
      height: 48px;
  }
  
  /* card_anim */
  .container_anim {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 53px ;
    background-color: #F4F4F4;
  }
  
  .card_anim {
    background-color: #f3efef;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* height: 400px; */
    width: calc(25% - 20px);
    transition: transform 0.3s ease;
  }
  
  .card_anim:hover {
    transform: translateY(-10px);
    transition-delay: 0.25s;
    transform: scale(1.1); /* Zoom in */
  }
  
  .card-image_anim {
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  .card-content_anim {
    padding: 20px;
    color: white;
    height: 500px;
  }
  
  .card_anim h3 {
    margin-bottom: 10px;
    font-size: 1.25em;
    color: white;
  }
  
  .card_anim p {
    color: #fff;
    line-height: 1.5;
  }
  /* Read more button */
  .read-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 48%;
    transition: background-color 0.3s ease;
  }
    /* Read more button */
    .read-more-btn1 {
      display: inline-block;
      padding: 10px 20px;
      background-color: transparent;
      color: white;
      text-decoration: none;
      border: 1px solid;
      border-radius: 5px;
      margin-top: 39%;
      transition: background-color 0.3s ease;
    }
      /* Read more button */
  .read-more-btn2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 57%;
    transition: background-color 0.3s ease;
  }
  
  /* card boder 2x2 */
  
  .card-container_border {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 95px;
    margin: 0 auto;
    padding: 20px;
  
    max-width: 1352px;
    
  }
  
  .card_border {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #D9D9D9;
    border-radius: 0 100px 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
  
    transition: transform 0.3s ease;
  }
  
  /* .card_border:hover {
      transform: translateY(-10px);
  } */
  
  .card-logo_border .img1 {
    max-width: 150px;
    margin-left: -2%;
    margin-top: -12%;
  
  }

  .card-logo_border .img2 {
    max-width: 160px;
    margin-left: 11%;
    margin-top: -24%;
  
  }
  .card-logo_border .img3{
    max-width: 237px;
    margin-left: -14%;
    margin-top: -37%;
  }
  .card-logo_border .img4{
    max-width: 160px;
    margin-left: -14%;
    margin-top: -45%;
  
  }



  .card-content_border h3 {
    margin-bottom: 10px;
    font-size: 1.25em;
  }
  
  .card-content_border p {
    color: #666;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .read-more-btn_border {
    display: inline-block;
    padding: 10px 20px;
    /* background-color: #a72c5d; */
    background-image: linear-gradient(90deg, #A3246E, #B34526);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .read-more-btn_border:hover {
    background-color: #a72c5d; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #a72c5d, #ae3842);
  }


  /* single container */

  /* styles.css */
.stat-head{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
}
.single-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px; /* Space between columns */
    padding: 20px;
    justify-items: center;
    background-color: #F4F4F4;
}

.left-side,
.right-side {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between items */
}

.item {
    background-color: #F4F4F4;
    padding: 20px;
   
  
}
.left-side-card {
  display: flex;
  background-color: #F4F4F4;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* border-radius: 8px; */
  /* row-gap: 10%; */
  overflow: hidden;

}

.left-image {
    /* width: 28%; */
    height: 48%;
    margin-top: 5%;
}

.item {
  padding: 20px;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .left-image {
  width: 13%;
  height: 13%;
  margin-top: 5%;
}
.item > h2{
    display: flex;
}
.item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
} */

/* three footer container ---- flex end */
.three-container {
    display: flex;
    justify-content: space-between; /* Space between cards */
    gap: 20px; /* Space between cards */
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto; /* Center container horizontally */
}

.three-card {
    display: grid;
    justify-items: start;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px); /* Adjust width to fit 3 cards in one row with space between */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    text-align: center;
    transition: transform 0.3s ease;
}
.three-card:hover{
    transform: translateY(-10px);
    transition-delay: 0.25s;
    transform: scale(1.1); /* Zoom in */
}
.three-logo {
    max-width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.three-button {
    background-color:#a3246e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    margin-left: 80%;

    transition: background-color 0.3s ease;
}
/* image footer conatainer */

/* styles.css */


.image-footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Two columns: left side 2/3, right side 1/3 */
    gap: 20px; /* Space between columns */
    max-width: 1200px;
    margin: 0 auto; /* Center the container horizontally */
    align-items: center; /* Vertically align items */
}

.image-footer-left-side {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.big-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-footer-right-side {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between small images */
}

.small-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.image-footer-right-side-down {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between small images */
}

.small-image-down{
    width: 54%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stats-head{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
}
.stats-heads{
    display: flex;
    font-size: 25px;
    /* font-weight: bold; */
    justify-content: center;
}
/* footer bar main contetn */
.footer {
    background-color: #fff;
    color: black;
    padding: 20px;
    text-align: center;
}

.footer-top, .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: flex-end;
}

.footer-line {
    border-top: 4px solid #a3246e;
    margin: 20px 0;
}


.copyright{
    display: flex;
}


/* **********Mobile View******** */


  @media (max-width: 768px) {
    header {
      flex-direction: column;
    }
    nav ul {
      flex-direction: column;
      align-items: center;
    }
    nav ul li {
      margin: 5px 0;
    }
    .cards {
      width: calc(90% - 20px);
    }
    .cards1 {
        width: calc(90% - 20px);
      }
    .card_anim {
      width: calc(50% - 20px);
    }
    .card-container_border {
      grid-template-columns: 1fr;
    }
    .card[for="c1"] {
      background-image: url(./assets/Untitled\ design.jpg);
      /* background-size: auto; */  
      display: none;
      }
    
    .card[for="c2"] {
      background-image: url(./assets/Untitled\ design\ \(4\).jpg);
      display: none;
   
    }
    
    .card[for="c3"] {
      background-image: url(./assets/Untitled\ design\ \(2\).jpg);
      display: none;
   
    }
    
    .card[for="c4"] {
      background-image: url(./assets/Untitled\ design\ \(1\).jpg);
   
      display: none;
    }

    

    .slider {
      display: block  ;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
    }
    
    .slide {
      flex: 0 0 auto;
      width: 100vw; /* Ensure each slide occupies the full viewport width */
      scroll-snap-align: start;
    }
    
    .slide img {
      width: 100%;
      height: auto;
    }
     /* harness */
  .harness {
    background-color: #a72c5d;
    background-image: linear-gradient(to right, #a72c5d, #ae3842);
    /* display: flex; */
    color: white;
    height: auto;
  }
  .partner-button{
    margin-left: 0%;
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 63px;
  }

  .card_border {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #f4f4f4;
    border-radius: 0 100px 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.3s ease;
  }
  .three-button {
    background-color: #a3246e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 30%;
    transition: background-color 0.3s ease;
}
  
  }
  
  /* ipad view */
  @media (max-width: 480px) {
    .card {
      width: 100%;
    }
    .card_anim {
      width: 100%;
    }

    .slider {
      overflow-x: hidden;
    }
  
    .slide {
      flex: 0 0 calc(25% - 20px); /* Adjust width for four slides in a row with gap */
      margin-right: 20px; /* Gap between slides */
    }
  }
